doctype html
html
  head
    meta(charset='utf-8')
    title Mountain Component with Mouse Interaction
    meta(name='description', content='Mountain Component with collider check via Raycaster')
    script(src='build.js')
    link(href="style.css", rel="stylesheet", media="all")
  body
    video(class='bg-video')
    a-scene(antialias='true')
      //Camera
      a-entity(position='0 0 0' rotation='0 0 0')
        a-entity(camera look-controls wasd-controls)
      //Mountain, seems to be on a large scale!
      a-mountain(id='mountain' color='rgb(128,0,128)' shadowColor='rgb(255,165,0)' position='0 2000 0' class="clickable" material-side-modifier-mountain collider-check-and-update)
      //Light
      a-entity(light='type: ambient;')
    script.
      (function initCamera(config, callback) {
        var config = {video: true, audio: false};
        navigator.mediaDevices.getUserMedia(config).then(function(stream) {
          var video = document.querySelector('.bg-video');
          video.setAttribute('autoplay', true);
          video.src = window.URL.createObjectURL(stream);
          console.log('camera initialized');
        }).catch(function(error) {
          console.error('Error accessing camera', error)
        });
      })();
